.top{
    width:1263px; height:29px;
    border-bottom: 1px solid #ddd;
    background:#F5F5F5;
    margin:0 auto;
}
.top-l{
	float:left;
}
.top-l p{
	font-size:12px; color:#ff0033;
	padding-left:40px; height:29px; line-height: 29px;
	display: inline-block;
}
.top-l p a{
	font-size:12px; color:#ff0033;
}
.top-l span{
	font-size:12px; color:#565656; 
	padding-left: 21px; height:29px; line-height: 29px;
}
.top-r{
	float:right; width: 518px;
}
.top-r p{
	font-size:12px; color:#000;
	display: inline-block;
	height:29px; line-height: 29px;
	float:left;
}
.top-r ul{
	float:left; height: 29px; line-height: 29px;
	font-size:12px; padding-left: 16px;
}
.top-r ul li{
	float:left; height:12px;
}
.top-r ul li:nth-child(1){
	padding-right:9px;
}
.top-r ul li:nth-child(2){
	padding-right:15px;

}
.top-r ul li:nth-child(2) a{
	color:#c70a28;
}
.top-r ul li:nth-child(3){
	padding-right:12px;
	border-right:1px solid #ddd;
}
.top-r ul li:nth-child(4){
	padding-left:13px;
	padding-right:21px;
}
.top-r ul li:nth-child(5){
	padding-right:21px;
}
.top-r s{
	width:12px; height:10px; margin-top:10px;
	margin-right:5px ;
	background:url(../../images/icon.png) no-repeat -32px -28px;
	display: inline-block;
}
.head{
	width:1263px; height:132px;
	margin:0 auto;
	background:url(../../images/logo_new.png) no-repeat 32px 28px;
}
.head h1 {float:left}
.head h1 a{
	text-indent: -9999px; width:355px; height:75px; float:left;
}
.head-center{
	width:492px; height:46px; margin-left:95px; margin-top: 28px;
	float:left;
}
.head-center .box{
	width:488px; height:32px;
	border:2px solid #c80a28;
	color:#c80a28;
}
.head-center .box .txt{
	width:403px; height:30px;
	outline: none; border:none;
}
.head-center .box .btn{
	width: 85px; height: 32px;
	float: right; color: #fff;
	font-size: 12px; background:#c80a28;
	border:none;
}
.head-center ul{
	height:33px; width:400px;
}
.head-center ul li{
	float:left; height:33px;
}
.head-center ul li a{
	font-size:12px; color:#666;
	padding-left:8px; padding-right: 9px;
	border-left:1px solid #d8ffff;
	border-right:1px solid #b299b2;
	line-height: 33px;
}
.head-center ul li:nth-child(1) a{
	padding-left:0;
	border-left:none;
}
.head-center ul li:nth-child(6) a{
	padding-right:0;
	border-right:none;
}
.head-r {
	width:100px; height:120px;
	float:right; margin-right:70px;
	margin-top:15px;
}
.head-r p{
	font-size:12px; color:#ff0032;
}
.nav{
	width:1263px; height: 38px; 
	margin:0 auto;
}
.nav-l{
	width:232px; height: 38px;
	margin-left: 240px; line-height: 38px; float:left;
}
.nav-l ul li{
	float:left; padding-right: 32px; font-weight: 800;
	font-size:12px; color:#000;
}
.nav-l ul li:hover{
	color:#ff0032;
}
.nav-r{
	width:302px; height: 38px;
	float:right; margin-right: 28px; line-height: 38px;
}
.nav-r ul li{
	float:left; font-weight: 800; font-size:12px;  color:#000;
}
.nav-r ul li i{
	padding-left: 4px; padding-right: 30px; 
}
.nav-r ul li:hover{
	color:#ff0032;
}
/*商品分类*/
.sort{
	width:190px; height:488px;
	position: absolute; top:165px; left:32px;
}
.sort p{
	width: 190px; height:34px; background:#fe0032; line-height: 34px;
	font-size: 14px; color:#fff; text-align: center;
}
.sort #sortlist{
	width:190px; height:453px; 
	background:#e3e3e3; display: none;
}
.sort #sortlist li{
	width:162px; height:35px; padding:15px 14px; 
	border-bottom:1px dotted #ccc ;
	position: relative;
}
.sort #sortlist li h3{
	width:106px; height: 24px; 
}
.sort #sortlist li h3 span{
	display: inline-block;
	width:18px; height:18px;
    float:left; 
    margin: -3px 5px 0 0;
}
.sort h3 i{
	font-size: 12px; font-weight: 800; color:#333; float:left;
}
.sort #sortlist li a{
	font-size:12px; color: #555;
}
.sort #sortlist li b{
	position: absolute; right:8px; top:5px; 
}
.sort #sortlist li:hover{
	background:#333;
}
.sort #sortlist li:hover h3 i{
	color:#fff;
}
.sort #sortlist li:hover a{
	color:#fff;
}
#sortlistone{
	width: 400px; height: 450px; position:absolute; left: 190px; top: 36px;
}
/*第一个子菜单*/
.sortlist1{
	width:200px; height:450px;
	position:absolute; background:#fff;
	top:0px; left:0px;
	display: none;
}
.sortlist1 .aa{
	float:left;
	padding-right:10px; padding-top:15px;
}
/*第二个子菜单*/
.sortlist2{
	width:400px; height:450px;
	position:absolute; background:#fff;
	top:0px; left:0px;
	display:none;
}
.sortlist2 .bb{
	width:400px; border-bottom: 1px dotted #dcd6d8;
}
.sortlist2 .bb h2{
	width:200px; height:30px; line-height: 30px; 
	font-size:12px; color:#393232; padding-left:10px;
}
.sortlist2 .bb .bblist{
	padding-left:10px; padding-bottom: 7px;
}
.sortlist2 .bb .bblist a{
	font-size: 12px; color:#8b8584; padding:0 8px;
	 border-right:1px solid #e0d7cf;
}
.sortlist2 .bb .bblist a:last-child{
	border-right:none;
}
/*第三个子菜单*/
.sortlist3{
	width:400px; height:450px;
	position:absolute; background:#fff;
	top:0px; left:0px;
	display: none;
}
.sortlist3 .cc{
	width:400px; border-bottom: 1px dotted #dcd6d8;
}
.sortlist3 .cc h2{
	width:200px; height:30px; line-height: 30px; 
	font-size:12px; color:#393232; padding-left:10px;
}
.sortlist3 .cc .cclist{
	padding-left:10px; padding-bottom: 7px;
}
.sortlist3 .cc .cclist a{
	font-size: 12px; color:#8b8584; padding:0 8px;
	 border-right:1px solid #e0d7cf;
}
.sortlist3 .cc .cclist a:last-child{
	border-right:none;
}
.sortlist3 .ccpic{
	float:left; padding:5px 10px;
}
/*第四个子菜单*/
.sortlist4{
	width:400px; height:313px;
	position:absolute; background:#fff;
	top:138px; left:0px;
	display: none;
}
.sortlist4 .dd{
	width:400px; border-bottom: 1px dotted #dcd6d8;
}
.sortlist4 .dd h2{
	width:200px; height:30px; line-height: 30px; 
	font-size:12px; color:#393232; padding-left:10px;
}
.sortlist4 .dd .ddlist{
	padding-left:10px; padding-bottom: 7px;
}
.sortlist4 .dd .ddlist a{
	font-size: 12px; color:#8b8584; padding:0 8px;
	 border-right:1px solid #e0d7cf;
}
.sortlist4 .dd .ddlist a:last-child{
	border-right:none;
}
.sortlist4 .ddpic{
	float:left; padding:5px 10px;
}
.content{
	background:#fff;
	width:1263px;
	margin:0 auto;
}
/*第五个子菜单*/
.sortlist5{
	width:400px; height:155px;
	position:absolute; background:#fff;
	top:300px; left:0px;
	display: none;
}
.sortlist5 .ee{
	width:400px; border-bottom: 1px dotted #dcd6d8;
}
.sortlist5 .ee h2{
	width:200px; height:30px; line-height: 30px; 
	font-size:12px; color:#393232; padding-left:10px;
}
.sortlist5 .ee .eelist{
	padding-left:10px; padding-bottom: 7px;
}
.sortlist5 .ee .eelist a{
	font-size: 12px; color:#8b8584; padding:0 8px;
	 border-right:1px solid #e0d7cf;
}
.sortlist5 .ee .eelist a:last-child{
	border-right:none;
}
.sortlist5 .eepic{
	float:left; padding:5px 10px;
}
.main{
	width: 1200px; margin: 0 auto;
}
.banner{
	width: 1200px; height: 60px; margin-top:20px;
}
.banner img{
	width: 1000px; height: 60px; margin-left: 100px;
}
.content{
	width: 1200px; height: 485px; 
}
.con-l{
	width: 490px; height: 485px; float: left;
}
.con-l img{
	margin-left: 52px; margin-top:100px;
}
.con-r{
	width: 690px; height: 485px; float: right; border-left: 1px dashed #ddd;
}
.con-r-t{
	width: 380px; height: 370px; padding: 24px 34px 0px 38px;
    margin-top: 24px; margin-left: 80px;
    box-shadow: 2px 1px 5px rgba(0,0,0,0.4);
    border: 1px solid #EEE;
    opacity: 0.95; 
}
.con-r-t p{
	width: 298px; height: 26px; color:#000; font-size: 18px; 
	border-bottom: 1px solid #eee;
}
.con-r-t ul{
	margin-top: 50px;
}
.con-r-t li{
	margin-bottom: 10px; 
}
.con-r-t .con-txt{
	width: 75px; height: 28px ; text-align: right; line-height: 28px;
	font-size: 12px; color: #000; float: left;
}
.con-r-t .con-inp{
	width: 207px; height: 33px; border:1px solid #dfdfdf; outline: none;
}
.con-r-t .con-inp1{
	width: 120px; height: 30px; border:1px solid #dfdfdf; outline: none;
	float:left;
}
.con-r-t .btn{
	width: 140px; height: 35px; background:#c11533; color: #fff;
	font-size: 12px; border: none; margin-left: 75px; outline: none;
}
.con-r-t a{
	float: left; color: #5e5e5e; font-size: 12px; text-decoration:underline;
	padding-left: 2px;
}
.con-r-t a:nth-child(1){
	margin-left: 75px;
}
.guide{
	width: 1200px; height: 145px ; 
	display: flex; justify-content: space-around; background: #fafafa;
}
.guide1{
	width: 100px ;height : 126px; margin-top: 20px; 
}
.guide1 p{
	width: 100px; height: 16px; 
	background: url(../../images/icon3.png) no-repeat -5px 0;
	margin-bottom: 15px;
}
.guide1 ul li{
	padding-bottom: 9px;
}
.guide1 ul li{
	font-size: 12px; 
	color: #565656; font-family: "Microsoft YaHei',Tahoma,Helvetica,Sans-Serif";
}
.footimg{
	width: 1200px ; height: 136px; 
}
.footimg img{
	margin-left: 50px; margin-top: 20px;
}
.foot{
	width: 1200px;  background: #393939; 
}
.foot ul{
	width: 1200px; height: 30px ; display: flex; justify-content: center;
}
.foot ul li{
	float: left; margin-top: 6px;
}
.foot ul li a{
	font-size: 12px; font-family: "Microsoft YaHei',Tahoma,Helvetica,Sans-Serif";
	padding-left: 22px; padding-right: 18px; color: #fff; 
	border-left: 1px solid #b43939; border-right: 1px solid #e0ffe0;
}
html, body {
  position: relative;
  height: 100%;
}
body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color:#000;
  margin: 0;
  padding: 0;
}
.swiper-container {
  width: 100%;
  height: 100%;

}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}