<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<link rel="stylesheet" type="text/css" href="../css/index/register.css"/>
		<link rel="stylesheet" type="text/css" href="../css/reset.css"/>
		<script src ="../js/jquery-1.12.3.js"></script>
		<script src ="../js/move.js"></script>
		<script src="../js/register.js"></script>
	</head>
	<body>
		<div class = "top">
			<div class ="top-l">
				<p>返回首页</p>
				<span>收藏网站</span>
			</div>
			<div class="top-r">
				<p>您好，欢迎光临韩都衣舍！</p>
				<ul>
					<li><a href="lander.html">登陆</a></li>
					<li>注册</li>
					<li><a href="cart.html">购物车</a></li>
					<li>在线客服</li>
					<li>帮助中心</li>
					<li>
						<s></s>
						网站导航
					</li>
				</ul>
			</div>
		</div>
		<div class="head">
			<h1><a href>韩都衣舍</a></h1>
			<div class="head-center">
				<div class="box">
				<input type="text" class="txt" placeholder="减龄不做作的时髦Tee"/>
				<input type="button" class="btn" value="搜索"/>
				</div>
				<ul>
					<li><a href="#">韩风女装</a></li>
					<li><a href="#">可爱童装</a></li>
					<li><a href="#">简约女装</a></li>
					<li><a href="#">甜美女装</a></li>
					<li><a href="#">时尚妈妈</a></li>
					<li><a href="#">崔范锡系列</a></li>
				</ul>
			</div>
			<div class="head-r">
				<img src ="../images/ewm.png" />
				<p>韩都衣舍私服搭配</p>
			</div>
		</div>
		<div class="nav">
			<div class="nav-l">
				<ul>
					<li><a href="#">2017新装秋品</a></li>
					<li><a href="#">团购批发</a></li>
				</ul>
			</div>
			<div class="nav-r">
				<ul>
					<li><a href="#">会员俱乐部<i><img src="../images/sjt.png"/></i></a></li>
					<li><a href="#">韩都资讯<i><img src="../images/sjt.png"/></i></a></li>
					<li><a href="#">招兵买马</a></li>
				</ul>
			</div>
		</div>
		<!--商品分类-->
		<div class="sort">
			<p>全部商品分类</p>
			<ul id="sortlist">
				<li>
					<h3>
					<span><img src="../images/tb1.png"/></span><i>全部商品分类</i>
					</h3>
					<a href="#">本周新品</a>
					<a href="#">按价格</a>
					<a href="#">按销量</a>
					<b><img src="../images/leftjt.png"/></b>
				</li>
				<li>
					<h3>
					<span><img src="../images/tb2.png"/></span><i>精选商品</i>
					</h3>
					<a href="#">连衣裙</a>
					<a href="#">潮流爆款</a>
					<a href="#">品牌特惠</a>
					<b><img src="../images/leftjt.png"/></b>
				</li>
				<li>
					<h3>
					<span><img src="../images/tb3.png"/></span><i>潮流女装</i>
					</h3>
					<a href="#">短外套</a>
					<a href="#">T恤</a>
					<a href="#">牛仔裤</a>
					<b><img src="../images/leftjt.png"/></b>
				</li>
				<li>
					<h3>
					<span><img src="../images/tb5.png"/></span><i>可爱童装</i>
					</h3>
					<a href="#">童装新品</a>
					<a href="#">套装</a>
					<a href="#">毛衣/针织衫</a>
					<b><img src="../images/leftjt.png"/></b>
				</li>
				<li>
					<h3>
					<span><img src="../images/tb6.png"/></span><i>时尚妈妈</i>
					</h3>
					<a href="#">T恤</a>
					<a href="#">针织衫</a>
					<a href="#">衬衫</a>
					<b><img src="../images/leftjt.png"/></b>
				</li>
				<li>
					<h3>
					<span><img src="../images/w.png"/></span><i>韩风男装</i>
					</h3>
					<a href="#">上装</a>
					<a href="#">下装</a>
					<a href="#">全部商品</a>
					<b><img src="../images/leftjt.png"/></b>
				</li>
				<li>
					<h3>
					<span><img src="../images/tb8.png"/></span><i>明星同款</i>
					</h3>
					<a href="#">全智贤同款</a>
					<a href="#">崔范锡系列</a>
					<b><img src="../images/leftjt.png"/></b>
				</li>
			</ul>
			<ul id="sortlistone">
				<li class="sortlist1">
					<div class="aa"><a href="#"><img src ="../images/nana.png" /></a></div>
					<div class="aa"><a href="#"><img src ="../images/ht.png" /></a></div>
					<div class="aa"><a href="#"><img src ="../images/hstyle.png" /></a></div>
					<div class="aa"><a href="#"><img src ="../images/mini.png" /></a></div>
					<div class="aa"><a href="#"><img src ="../images/forqueen.png" /></a></div>
					<div class="aa"><a href="#"><img src ="../images/hp.png" /></a></div>
					<div class="aa"><a href="#"><img src ="../images/hanyunyixiang.png" /></a></div>
					<div class="aa"><a href="#"><img src ="../images/dx1.png" /></a></div>
					<div class="aa"><a href="#"><img src ="../images/nibbuns.png" /></a></div>
					<div class="aa"><a href="#"><img src ="../images/guoya.png" /></a></div>
					<div class="aa"><a href="#"><img src ="../images/sulv.png" /></a></div>
					<div class="aa"><a href="#"><img src ="../images/Hn.png" /></a></div>
					<div class="aa"><a href="#"><img src ="../images/anma.png" /></a></div>
					<div class="aa"><a href="#"><img src ="../images/zg.png" /></a></div>
				</li>
				<li class="sortlist2">
					<div class="bb">
						<h2>特惠精选</h2>
						<div class="bblist">
							<a href="#">清仓特惠</a>
							<a href="#">爆款特惠</a>
						</div>	
					</div>
					<div class="bb">
						<h2>潮流新品</h2>
						<div class="bblist">
							<a href="#">2017秋装新品</a>
							<a href="#">原创新品</a>
							<a href="#">连衣裙 </a>
							<a href="#">卫衣</a>
							<a href="#">毛针织衫 </a>
						</div>	
					</div>
					<div class="bb">
						<h2>类目新品</h2>
						<div class="bblist">
							<a href="#">连衣裙</a>
							<a href="#">牛仔裤</a>
							<a href="#">衬衫</a>
							<a href="#">卫衣</a>
							<a href="#">T恤</a>
							<a href="#">休闲裤</a>
							<a href="#">半身裙</a>
							<a href="#">套装</a>
							<a href="#">羽绒服</a>
							<a href="#">毛呢外衣</a>
							<a href="#">棉衣</a>
							<a href="#">毛针织衫</a>
						</div>	
					</div>
					<div class="bb">
						<h2>爆款集锦</h2>
						<div class="bblist">
							<a href="#">2017秋装爆款</a>
							<a href="#">女装爆款</a>
							<a href="#">男装爆款</a>
							<a href="#">童装爆款</a>
							<a href="#">妈妈装爆款</a>
						</div>	
					</div>
					<div class="bb">
						<h2>百变风格</h2>
						<div class="bblist">
							<a href="#">潮流韩范</a>
							<a href="#">纯色</a>
							<a href="#">优雅OL</a>
							<a href="#">印花</a>
							<a href="#">甜美清新</a>
							<a href="#">条纹</a>
							<a href="#">度假出游</a>
							<a href="#">拼接</a>
							<a href="#">复古</a>
							<a href="#">字母</a>
							<a href="#">修身</a>
							<a href="#">几何</a>
							<a href="#">宽松</a>
							<a href="#">不规则</a>
						</div>	
					</div>
				</li>
				<li class="sortlist3">
					<div class="cc">
						<h2>韩风时尚HSTYLE</h2>
						<div class="cclist">
							<a href="#">T恤</a>
							<a href="#">衬衫</a>
							<a href="#">套装</a>
							<a href="#">连衣裙</a>
							<a href="#">半身裙</a>
							<a href="#">牛仔裤</a>
							<a href="#">休闲裤</a>
							<a href="#">羽绒服</a>
							<a href="#">毛呢外套</a>
							<a href="#">棉衣</a>
							<a href="#">毛针织衫</a> 
						</div>	
					</div>
					<div class="cc">
						<h2>时尚名媛SONEED</h2>
						<div class="cclist">
							<a href="#">T恤</a>
							<a href="#">衬衫</a>
							<a href="#">毛针织衫</a>
							<a href="#">卫衣/绒衫</a>
							<a href="#">套装</a>
							<a href="#">风衣</a>
							<a href="#">毛呢外套</a>
							<a href="#">连衣裙</a>
							<a href="#">牛仔裤</a>
							<a href="#">休闲裤</a>
						</div>	
					</div>
					<div class="cc">
						<h2>欧美风尚 尼班诗</h2>
						<div class="cclist">
							<a href="#">T恤</a>
							<a href="#">衬衫</a>
							<a href="#">蕾丝衫/雪纺衫</a>
							<a href="#">卫衣/绒衫</a>
							<a href="#">毛针织衫</a>
							<a href="#">风衣</a>
							<a href="#">毛呢外套</a>
							<a href="#">牛仔裤</a>
							<a href="#">休闲裤</a>
							<a href="#">打底裤</a>
							<a href="#">连衣裙</a> 
						</div>	
					</div>
					<div class="cc">
						<h2>甜美少女NanaDay</h2>
						<div class="cclist">
							<a href="#">毛针织衫</a>
							<a href="#">T恤</a>
							<a href="#">短外套</a>
							<a href="#">衬衫</a>
							<a href="#">棉衣棉服</a>
							<a href="#">卫衣/绒衫</a>
							<a href="#">套装</a>
							<a href="#">连衣裙</a>
							<a href="#">半身裙</a>
							<a href="#">毛呢外套</a>
							<a href="#">羽绒服</a> 
							<a href="#">裤装</a> 
						</div>	
					</div>
					<div class="ccpic"><a href="#"><img src="../images/hstyle.png"></a></div>
					<div class="ccpic"><a href="#"><img src="../images/sulv.png"></a></div>
					<div class="ccpic"><a href="#"><img src="../images/nibbuns.png"></a></div>
					<div class="ccpic"><a href="#"><img src="../images/forqueen.png"></a></div>
					<div class="ccpic"><a href="#"><img src="../images/nana.png"></a></div>
					<div class="ccpic"><a href="#"><img src="../images/ytxz.png"></a></div>
				</li>
				<li class="sortlist4">
					<div class="dd">
						<h2>韩风时尚Minizaru</h2>
						<div class="ddlist">
							<a href="#">T恤</a>
							<a href="#">衬衫</a>
							<a href="#">卫衣</a>
							<a href="#">套装</a>
							<a href="#">毛衣/针织衫</a>
							<a href="#">毛呢/外套</a>
							<a href="#">羽绒服饰</a>
							<a href="#">半身裙</a>
							<a href="#">连衣裙</a>
							<a href="#">休闲裤</a>
							<a href="#">牛仔裤</a>
							<a href="#">打底裤</a>
							<a href="#">短裤</a>
							<a href="#">马甲</a>
						</div>	
					</div>
					<div class="dd">
						<h2>欧美时尚HoneyPig</h2>
						<div class="ddlist">
							<a href="#">T恤</a>
							<a href="#">衬衫</a>
							<a href="#">卫衣</a>
							<a href="#">毛衣/针织衫</a>
							<a href="#">外套/夹克/大衣</a>
							<a href="#">套装</a>
							<a href="#">连衣裙</a>
							<a href="#">半身裙</a>
							<a href="#">短裤</a>
							<a href="#">休闲裤</a>
							<a href="#">打底裤</a> 
							<a href="#">牛仔裤</a> 
						</div>	
					</div>
					<div class="dd">
						<h2>东方简约 果芽</h2>
						<div class="ddlist">
							<a href="#">T恤/吊带衫</a>
							<a href="#">毛衣/针织衫</a>
							<a href="#">衬衫</a>
							<a href="#">卫衣/绒衫</a>
							<a href="#">外套</a>
							<a href="#">裤子</a>
							<a href="#">半身裙</a>
							<a href="#">连衣裙</a>
							<a href="#">棉衣/棉服</a>
						</div>	
					</div>
					<div class="ddpic"><a href="#"><img src="../images/mini.png"/></a></div>
					<div class="ddpic"><a href="#"><img src="../images/guoya.png"/></a></div>
					<div class="ddpic"><a href="#"><img src="../images/hp.png"/></a></div>
					<div class="ddpic"><a href="#"><img src="../images/dx1.png"/></a></div>
				</li>
				<li class="sortlist5">
					<div class="ee">
						<h2>妈妈装</h2>
						<div class="eelist">
							<a href="#">T恤</a>
							<a href="#">衬衫</a>
							<a href="#">外套</a>
							<a href="#">毛衣/针织</a>
							<a href="#">风衣</a>
							<a href="#">棉衣/棉服</a>
							<a href="#">马甲</a>
							<a href="#">裤子</a>
							<a href="#">连衣裙</a>
							<a href="#">半身裙</a>
							<a href="#">套装</a>
						</div>	
					</div>
					<div class="ddpic"><a href="#"><img src="../images/hanyunyixiang.png"/></a></div>
				</li>
			</ul>
		</div>
		<div class="main">
			<div class="banner">
				<img src="../images/banner3.jpg" />
		    </div>
		    <div class="content">
		    	<div class="con-l">
		    		<div class="con-l-t">
		    			<div class="con-l-t-t">
		    				<p>已是韩都衣舍用户:</p>
		    				<a href="#">直接登录</a>
		    			</div>
		    			<img src="../images/register1.png" />
		    			<div class="con-l-t-b">
		    				<input type="text"/>
		    				<a href="#">马上订阅</a>
		    			</div>
		    			
		    		</div>
		    	</div>
		    	<div class="con-r">
		    		<div class="con-r-t">
		    			<div class="con-r-t-t">
		    				<p>选择注册方式：</p>
		    				<h2 class="active">使用手机注册</h2>
		    				<h2>使用邮箱注册</h2>
		    			</div>
		    			<div class="con-r-t-b">
		    				<p>填写您的信息：</p>
		    <!--手机号注册-->
		    				<ul id="list1">
		    					<li>
		    						<div class="register-name">您的手机号：</div>
		    						<input class="text" type="text" id="inp1"/>
		    						<input type="button" class="send1" value="发送验证码"/>
		    						<img src="../images/true.gif" />
		    						<span>手机号格式不正确</span>
		    					</li>
		    					<li>
		    						<div class="register-tishi">
		    							请输入您在注册时的手机号码，若当前手机号码丢失/不用，或无法接收到验证码？<a href="#">其它验证方式</a>
		    						</div>
		    					</li>
		    					<li>
		    						<div class="register-name">验证码：</div>
		    						<input type="text" class="text"/>
		    					</li>
		    					<li>
		    						<div class="register-name">密码：</div>
		    						<input type="password" class="text" id="inp2"/>
		    						<img src="../images/true.gif" />
		    						<span>密码长度不能小于8位</span>
		    						<i>密码必须为8-24位字母与数字组合</i>
		    					</li>
		    					<li>
		    						<div class="register-tishi">
		    							6-16位字符，可使用字母、数字或符号的组合
		    						</div>
		    					</li>
		    					<li>
		    						<div class="register-name">确认密码：</div>
		    						<input type="password" class="text" id="inp3"/>
		    						<img src="../images/true.gif" />
		    						<span>两次输入的密码不一致</span>
		    					</li>
		    					<li>
		    						<div class="register-tishi">
		    							<input type="checkbox" />
		    				                                    我已看过并接受<a href="#">《用户协议》</a>
		    						</div>
		    					</li>
		    					<li>
		    						<input type="button" class="send2" value="同意协议并注册"/>
		    					</li>
		    				</ul>
		    	<!--邮箱注册-->
		    				<ul id="list2">
		    					<li>
		    						<div class="register-name">email：</div>
		    						<input class="text" type="text" id="inp4"/>
		    						<img src="../images/true.gif" />
		    						<span>E-mail格式不正确</span>
		    					</li>
		    					<li>
		    						<div class="register-tishi" >
		    							Email地址作为用户名，同时也用于接收账户信息、订单通知及密码找回等功能
		    						</div>
		    					</li>
		    					<li>
		    						<div class="register-name">密码：</div>
		    						<input type="password" class="text" id="inp5"/>
		    						<img src="../images/true.gif" />
		    						<span>密码长度不能小于8位</span>
		    						<i>密码必须为8-24位字母与数字组合</i>
		    					</li>
		    					<li>
		    						<div class="register-tishi">
		    							8-24位字符，必须包含字母、数字的组合
		    						</div>
		    					</li>
		    					<li>
		    						<div class="register-name">确认密码：</div>
		    						<input type="password" class="text" id="inp6"/>
		    						<img src="../images/true.gif" />
		    						<span>两次输入的密码不一致</span>
		    					</li>
		    					<li>
		    						<div class="register-tishi">
		    							请再次输入密码，两次输入必须一致
		    						</div>
		    					</li>
		    					<li>
		    						<div class="register-name">验证码：</div>
		    						<input type="text" class="text1"/>
		    					</li>
		    					<li>
		    						<div class="register-tishi">
		    							<input type="checkbox" />
		    				                                     我已看过并接受<a href="#">《用户协议》</a>
		    						</div>
		    					</li>
		    					<li>
		    						<input type="button" class="send2" value="同意协议并注册"/>
		    					</li>
		    				</ul>
		    			</div>
		    		</div>
		    	</div>
		    </div>
		    <div class="guide">
				<div class="guide1">
					<p></p>
					<ul>
						<li><a href="#">用户注册</a></li>
						<li><a href="#">购物流程</a></li>
						<li><a href="#">网站导航</a></li>
						<li><a href="#">帮助中心</a></li>
				    </ul>
			    </div>
			    <div class="guide1">
					<p></p>
					<ul>
						<li><a href="#">在线支付</a></li>
						<li><a href="#">扫码支付</a></a></li>
						<li><a href="#">优惠券支付</a></li>
				    </ul>
			    </div>
			    <div class="guide1">
					<p></p>
					<ul>
						<li><a href="#">配送说明</a></a></li>
						<li><a href="#">运费说明</a></a></li>
						<li><a href="#">验货签收</a></li>
				    </ul>
			    </div>
			    <div class="guide1">
					<p></p>
					<ul>
						<li><a href="#">退换货政策</a></li>
						<li><a href="#">退换货流程</a></li>
				    </ul>
			    </div>
			    <div class="guide1">
					<p></p>
					<ul>
						<li><a href="#">会员制度</a></li>
						<li><a href="#">会员积分</a></li>
				    </ul>
			    </div>
			     <div class="guide1">
					<p></p>
					<ul>
						<li><a href="#">品牌故事</a></li>
						<li><a href="#">媒体报道</a></li>
						<li><a href="#">诚聘英才</a></li>
						<li><a href="#">练习我们</a></li>
				    </ul>
			    </div>
			</div>
			<div class="footimg">
				<img src="../images/icon4.png" />
			</div>
			<div class="foot">
				<ul>
					<li><a href="#">首页</a></li>
					<li><a href="#">品牌故事</a></li>
					<li><a href="#">诚聘英才</a></li>
					<li><a href="#">媒体报道</a></li>
					<li><a href="#">联系我们</a></li>
					<li><a href="#">网站地图</a></li>
					<li><a href="#">友情链接</a></li>
				</ul>
			</div>
		</div>
	</body>
</html>
